script(src="/js/jquery-3.3.1.min.js")
script(src="/js/jquery-ui-position-1.12.1.min.js")
script(src="/js/jquery-contextMenu-2.6.3.min.js")
script(src="/js/bootstrap-4.0.0.min.js")
script(src="/js/fabric-2.0.1.min.js")
