#modal-settings.modal.fade(tabindex=-1, role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#modal-title.modal-title
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          i.fas.fa-times.fa-xs
      .modal-body#modal-body
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Close
        button#modal-save-settings.btn.btn-primary Save Change
