extends includes/template.pug

block content
  include ./canvas-modal.pug
  nav.nav
    a#start-button.nav-link.active(href="#") Start
    a#view-button.nav-link(href="#") View
  .container-fluid.h-100
    .row.justify-content-center.no-gutters.h-100
      #nodes-wrapping.nodes-wrapping.col-2.d-flex.flex-column
        canvas#nodes-canvas.nodes-canvas.p-2
      #drawing-wrapping.drawing-wrapping.col
        canvas#drawing-canvas.drawing-canvas
