-
  var jslist = [
    '/jquery/dist/jquery.js',
    '/fabric/dist/fabric.js',
    '/jquery-ui-bundle/jquery-ui.js',
    '/jquery-contextmenu/dist/jquery.contextMenu.js',
    '/lodash/lodash.js',
    '/popper.js/dist/umd/popper.js',
    '/bootstrap/dist/js/bootstrap.js',
    '/bundle.js'
  ]

each val in jslist
  script(src=val)
