-
  var linklist = [
    '/bootstrap/dist/css/bootstrap.css',
    '/jquery-ui-bundle/jquery-ui.css',
    '/font-awesome/css/font-awesome.css',
    '/jquery-contextmenu/dist/jquery.contextMenu.css',
    '/css/app.css'
  ]

each val in linklist
  link(rel="stylesheet", href=val)
